* {
    background-color: #065406;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: #065406;
    color: white;
    padding: 20px;
}

nav ul {
    background-color: #757575;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    background-color: #757575;
    color: white;
    padding: 10px;
}

nav li:hover {
    background-color: black;
}

.carousel {
    width: 640px;
    height: 360px;
    margin: auto;
    padding: 35px;
    border: black;
}


footer {
    width: 100%;
    height: 100px;
    color: white;
    margin-top: 30px;
}

footer p {
    background-color: black;
    text-align: center;
    padding: 40px;
}