*{ 
   padding: 0;
   margin: 0;
}
h1{   
   text-align: center;
   background-color: #065406;
   color: white;
   padding: 20px;
}
nav ul{
   background-color: #757575;
   width: 100%;
   list-style-type: none;
   text-align: center; 
}
nav li{
   display: inline-flex;
}
nav a{
   text-decoration: none;
   color: white;
   padding: 10px;
   width: 150px;
}
nav li:hover {
   background-color: black;
}
img{
   width: 200px;
   height: 200%;
   object-fit: cover;
}
.contenido{
   display: flex;
   margin: 60px ;
}
.articulos{
   width: 90%;
   border-right: 3p solid white;
}
.secciones{
   display: flex;
   align-items: center;
   padding: 40px;
}
.menu_secundario{
   width: 10%;
   margin-top: 60px;
}
.menu_secundario{
   display: block;
   text-align: center;
   color: black;
}
footer{
   width: 100%;
   height: 200px;
   background-color: black;
   color: white;
   margin-top: 40px;  
}
footer p{
   text-align: center;
   padding: 50px;
}
.contenido{
   background-color: #065406;
   color: white;
}
body{
   background-color: #065406;
}